@model OnlineVotingSystem.Models.User

@{
    ViewBag.Title = "ChangeSuccessful";
    Layout = "~/Views/Shared/_VoterLayout.cshtml";
}

<h2>Congratulations, you have successfully changed your password</h2>

